<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
	th {
		width: 100px;
	}
	td {
		width: 250px;
	}
</style>
<script>
	function deleteBoard(num) {
		if(confirm('삭제하시겠습니까?')) {
			location.href = 'delete?boardnum=' + num;
		}
	}
	
	function buyBoard(num) {
		if(confirm('구매하시겠습니까?')) {
			location.href = 'buyBoard?boardnum=' + num;
		}
	}
</script>
</head>
<body>
	<h1>[ 판매 정보 ]</h1>
	<table>
		<tr>
			<th>작성자</th>
			<td th:text="${board.memberid}"></td>
		</tr>
		<tr>
			<th>작성일</th>
			<td th:text="${board.inputdate}"></td>
		</tr>
		<tr>
			<th>제목</th>
			<td th:text="${board.title}"></td>
		</tr>
		<tr>
			<th>내용</th>
			<td th:text="${board.contents}"></td>
		</tr>
		<tr>
			<th></th>
			<td>
				<!-- 본인글인 경우 삭제 -->
				<div th:if="${#authentication.name} == ${board.memberid}">
					<a th:href="|javascript:deleteBoard(${board.boardnum})|">삭제</a>
				</div>
				<!-- 본인글이 아닌 경우 구매하기 -->
				<div th:if="${#authentication.name} != ${board.memberid}">
					<a th:href="|javascript:buyBoard(${board.boardnum})|">구매하기</a>
				</div>
			</td>
		</tr>
	</table>
	
	<br>
	<!-- 로그인한 경우 댓글 작성 폼 -->
	<div sec:authorize="isAuthenticated()">
		<form th:action="@{/board/writeReply}" method="post">
			<input type="hidden" name="boardnum" th:value="${board.boardnum}"> <!-- 글번호 자동으로 넣어서 감 -->
			<input type="text" name="replytext" id="replytext" style="width:400px;">
			<input type="submit" value="확인">
		</form>
	</div>
	
	<!-- 댓글 목록 -->
	<table>
		<tr th:each="reply : ${replyList}">
			<th th:text="${reply.memberid}"></th>
			<td th:text="${reply.replytext}"></td>
			<td th:text="${reply.inputdate}">
		</tr>
	</table>
	
</body>
</html>